/*import tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;



#root {

}

.leaflet-container {
  width: auto;
  height: 50vh;
  z-index: 0;
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.counter{
  position: absolute;
}
